.container{
    height: 60px;
    padding: 10px;
}

.nav-frame{
    align-items: center;
    border-bottom: 1px solid #eee;
}

nav{
    display: flex;
    justify-content: flex-start;
}

.search{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


.left{
    float: left;
}

.right{
    float: right;
}

.nav-frame{
    background-color: white;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

