.container{
    padding-top: 10px;
    
}
.nav-box{
    background-color: white;
    border-bottom: 1px solid #eee;
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 1;
}


.search{
    display: flex;
    justify-content: center;
}


.left{
    float: left;
    padding: 0;
    margin-left: 20px;
}

.right{
    float: right;
}

html{
    background-color: white;
}






